<% set_locale %>
<h1>My profile</h1>
<%
#@user.assign_attributes(profile_image: "http://juliasdesign.com/tutorials/star/13.jpg")
%><font size="3"><b>Picture: </b></font>
<%= image_tag(@user.profile_image) %>
<br>
<font size="3"><b>Name: </b></font><%= @user.name %>
<br>
<font size="3"><b>E-mail: </b></font><%= @user.email %>

<br>
<hr>
<br>
