<div class="else">


<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
  var myLatLng = {lat:58.378256,lng:26.715112};
  var map = new google.maps.Map(document.getElementById('googleMap'), {
         zoom: 17,
         center: myLatLng
       });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map
  });

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBimYfur-CyQFaQxdUtNvMQ7oQo3BFd5s0&callback=myMap"></script>
</div>
