<!DOCTYPE html>
<head>
  <title>Sports site</title>
    <link rel="import" href="html/navbar.html"/>
    <link rel="stylesheet" href="css/navbarStyle.css">
</head>
<style>
.someClass {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 2000px;
    overflow: hidden;
}
#lude {
    float: left;
}
#lude a:hover {
    background-color: #555;
    color: white;
}
#lude a {
    display: block;
    padding: 8px 16px;
    background-color: #dddddd;
    text-decoration: none;
}

.LogInCont{
    width:250px;
    height:250px;
    position:absolute;
    left:0%;
    top:13%; //sets top edge at the midway point of it's container
}

.ScoreBoard{
  width:250px;
  position:absolute;
  left:0%;
  top:50%; //sets top edge at the midway point of it's container
}
.mhead{
  width:500px;
  position:absolute;
  left:30%;
  top:13%; //sets top edge at the midway point of it's container
}
.m1head{
  width:225px;
  position:absolute;
  left:30%;
  top:70%; //sets top edge at the midway point of it's container
}
.buttons{
  width:100px;
  height:25px;
  position:absolute;
  left:30%;
}

.lhead{
  width:225px;
  position:absolute;
  left:50%;
  top:70%; //sets top edge at the midway point of it's container
}

.shit-body{
  height:300px;
}

.LogInBody{
  height:150px;
}
.main-body{
  height: 300px;
}
.main1-body{
  height: 75px;
}
.link-body{
  height: 50px;
}



</style>
<p>
  <div class="navbar">
    <nav class="navbar navbar-default">
        <ul class = "someClass">
          <li id = "lude"><a href="default.asp">Football</a></li>
          <li id = "lude"><a href="news.asp">Basketball</a></li>
          <li id = "lude"><a href="contact.asp">Tennis</a></li>
          <li id = "lude"><a href="about.asp">Baseball</a></li>
          <li id = "lude"><a href = "https://gapimpletonblog.files.wordpress.com/2016/12/donkey1050x700.jpg">VolleyBall</a></li>
          <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
          <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
          <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
          <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
          <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
          <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
          <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
          <li id = "lude">
            <span class = "glyphicon glyphicon-user"></span>
            Sign up
          </li>
          <li id = "lude">
            <span class = "glyphicon glyphicon-log-in"></span>
            Login
          </li>
        <form class="form-inline my-2 my-lg-0">
          <input class="from-control" placeholder="Search"/>
          <button class="btn btn-outline-sucess my-2 my-sm-0">Search</button>
        </form>
        </ul>
      </nav>
  </div>
  <div class="LogInCont">
    <div class="panel panel-default">
      <h3 align = "center">
        Log in
      </h3>
      <div class="LogInBody">
      <div class = "buttons">
        <li id = "lude">
          <span class = "glyphicon glyphicon-user"></span>
          Sign up
        </li>
        <li id = "lude">
          <span class = "glyphicon glyphicon-log-in"></span>
          Login
        </li>
        </div>
    </div>
    </div>
  </div>
  <div class = "ScoreBoard">
  <div class="panel panel-default">
  <div class="shit-body" align = "center">ScoreBoard
    <p>
      Imagine numbers
    </p>
  </div>
</div>
</div>
<div class = "mhead">
  <div class="panel panel-default">
  <div class="main-body">Main Headline</div>
  <h3>
    Imagine text
  </h3>
  </div>
</div>
<div class = "m1head">
  <div class="panel panel-default">
  <div class="main1-body">Another Headline</div>
  <h3>
    Imagine text
  </h3>
  </div>
</div>
<div class = "lhead">
  <div class="panel panel-default">
  <div class="link-body">Link Headline</div>
  <a>
    Trump says x
  </a>
  <p>
  </p>
  <a>
    Media hates Trump
  </a>
  <p>
  </p>
  <a>
    Insert Trump news here
  </a>
  </div>
</div>


</p>
