<p>

  <div class="LogInCont">
    <div class="panel panel-default">
      <h3 align = "center">
        Log in
      </h3>
      <div class="LogInBody">
      <div class = "buttons">
        <li id = "lude">
          <span class = "glyphicon glyphicon-user"></span>
          Sign up
        </li>
        <li id = "lude">
          <span class = "glyphicon glyphicon-log-in"></span>
          Login
        </li>
        </div>
    </div>
    </div>
  </div>
  <div class = "ScoreBoard">
  <div class="panel panel-default">
  <div class="shit-body" align = "center">ScoreBoard
    <p>
      Imagine numbers
    </p>
  </div>
</div>
</div>
<div class = "mhead">
  <div class="panel panel-default">
  <div class="main-body">Main Headline</div>
  <h3>
    Imagine text
  </h3>
  </div>
</div>
<div class = "m1head">
  <div class="panel panel-default">
  <div class="main1-body">Another Headline</div>
  <h3>
    Imagine text
  </h3>
  </div>
</div>
<div class = "lhead">
  <div class="panel panel-default">
  <div class="link-body">Link Headline</div>
  <a>
    Trump says x
  </a>
  <p>
  </p>
  <a>
    Media hates Trump
  </a>
  <p>
  </p>
  <a>
    Insert Trump news here
  </a>
  </div>
</div>


</p>
