  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @mixin box_sizing {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   box-sizing:         border-box;
 }

.else{
  margin-top: 0px;

}
.login{
  margin-top: 50px;
}

 input, textarea, select, .uneditable-input {
   border: 1px solid #bbb;
   width: 100%;
   margin-bottom: 15px;
   @include box_sizing;
 }

 input {
   height: auto !important;
 }


 .someClass {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 2000px;
     overflow: hidden;
 }
 #lude {
     float: left;
 }
 #lude a:hover {
     background-color: #555;
     color: white;
 }
 #lude a {
     display: block;
     padding: 8px 16px;
     background-color: #dddddd;
     text-decoration: none;
 }

 .LogInCont{
     width:250px;
     height:250px;
     position:absolute;
     left:0%;
     top:13%; //sets top edge at the midway point of it's container
 }

 .ScoreBoard{
   width:250px;
   position:absolute;
   left:0%;
   top:50%; //sets top edge at the midway point of it's container
 }
 .mhead{
   width:500px;
   position:absolute;
   left:30%;
   top:13%; //sets top edge at the midway point of it's container
 }
 .m1head{
   width:225px;
   position:absolute;
   left:30%;
   top:70%; //sets top edge at the midway point of it's container
 }
 .buttons{
   width:100px;
   height:25px;
   position:absolute;
   left:30%;
 }

 .lhead{
   width:225px;
   position:absolute;
   left:50%;
   top:70%; //sets top edge at the midway point of it's container
 }

 .shit-body{
   height:300px;
 }

 .LogInBody{
   height:150px;
 }
 .main-body{
   height: 300px;
 }
 .main1-body{
   height: 75px;
 }
 .link-body{
   height: 50px;
 }

/* footer */
footer{
  margin-top:40px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

footer a{
  color:‎#DAA520;
}

footer a:hover{
  color:#fff5ee;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}
 .else{
   padding: 70px;
 }
 .login{
   padding: 100px;
   margin-left:0px;
 }
