<footer class = "footer">
  <nav>
    <ul>
      <li>
        <%=link_to root_path do %>
          <%=t 'menu.home'%>
        <%end%>
      </li>
      <li><%=link_to "#{root_path}/about" do %>
        <%=t 'menu.about' %>
        <%end%>
      </li>
    </ul>
  </nav>
</footer>
