>

</div>
<div class="navbar">
  <nav class="navbar navbar-default">
      <ul class = "someClass">
        <li id = "lude"><a href="default.asp">Football</a></li>
        <li id = "lude"><a href="news.asp">Basketball</a></li>
        <li id = "lude"><a href="contact.asp">Tennis</a></li>
        <li id = "lude"><a href="about.asp">Baseball</a></li>
        <li id = "lude"><a href = "https://gapimpletonblog.files.wordpress.com/2016/12/donkey1050x700.jpg">VolleyBall</a></li>
        <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
        <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
        <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
        <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
        <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
        <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
        <li id = "lude"><a href = "shit.asp">InsertSport</a></li>
        <li id = "lude">
          <a href="\signup"><span class = "glyphicon glyphicon-user"></span>
          Sign up</a>
        </li>
        <% if logged_in? %>

        <li id = "lude">
           <%= link_to "Log out", logout_path, method: "delete" %>
        </li>
        <% else %>
        <li id = "lude">
          <a href='\login'>
          <span class = "glyphicon glyphicon-log-in"></span>
          Login</a>
        </li>

        <% end %>
      <form class="form-inline my-2 my-lg-0">
        <input class="from-control" placeholder="Search"/>
        <button class="btn btn-outline-sucess my-2 my-sm-0">Search</button>
      </form>
      </ul>
    </nav>
</div>
